<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Succes!</title>
</head>
<body>
	<h1>Profile picture updated!</h1>
	<a href="/profilepage">Back to profile</a>
</body>
</html>