<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/browsepage.css">

    <link href="https://fonts.googleapis.com/css?family=Sansita:400,400i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    
    <title>Find new people</title>
</head>
<body>
    <main>
        <h1>Login</h1>
        <form action="/login" method="post">
            <label>Choose a user
                <select name="user">
                    <option value="0001">Olivia Delroy</option>
                    <option value="0002">Liz Avage</option>
                    <option value="0003">Eve Watts</option>
                    <option value="0004">Kayle Solomon</option>
                    <option value="0005">Nina Suey</option>
                    <option value="0006">Robin Mahnken</option>
                </select>
            </label>
            <input type="submit">
        </form>
    </main>
</body>
</html>