<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Succes!</title>
</head>
<body>
	<h1>Film toegevoegd!</h1>
	<p>Titel film: </p>
	<a href="/profilepage">Terug naar je profiel</a>
</body>
</html>